[Global]
	Name = {{irc.domain}}
	Info = none
	Password = {{irc.password}}
	MotdFile = /etc/ngircd/ngircd.motd
	Ports = 6667
	AdminInfo1 = {{irc.admins[0].name}}
	AdminInfo2 = the moon
	AdminEMail = do.not@email.me
	PidFile = /var/run/ngircd/ngircd.pid
	ServerGID = irc
	ServerUID = irc
[Limits]
	ConnectRetry = 60
	MaxConnections = 500
	MaxConnectionsIP = 5
	MaxJoins = 10
	MaxListSize = 100
	PingTimeout = 120
	PongTimeout = 20
[Options]
	CloakHost = %x
	CloakHostModeX = anon
	;CloakHostSalt = {{irc.cloak_salt}}
	CloakUserToNick = yes
	DefaultUserModes = iI
	DNS = no
	Ident = no
	MorePrivacy = yes
	OperCanUseMode = yes
	OperChanPAutoOp = yes
	PAM = no
	SyslogFacility = daemon
[SSL]
	CertFile = /etc/letsencrypt/live/{{irc.domain}}/fullchain.pem
	KeyFile = /etc/letsencrypt/live/{{irc.domain}}/privkey.pem
	CipherList = SECURE128:-VERS-SSL3.0
	Ports = 6697
{% for admin in irc.admins %}
[Operator]
	Name = {{admin.name}}
	Password = {{admin.password}}
	Mask = *@*
{% endfor %}
{% for channel in irc.channels %}
[Channel]
	Name = #{{channel.name}}
	Topic = {{channel.topic}}
	Modes = {{channel.modes}}
	Key = {{channel.password}}
{% endfor %}
