127.0.0.1    localhost
127.0.1.1    {{ansible_hostname}}

# The following lines are desirable for IPv6 capable hosts
::1          localhost ip6-localhost ip6-loopback
ff02::1      ip6-allnodes
ff02::2      ip6-allrouters

{% if 'master' in ansible_hostname %}
{% for host in groups['all'] if 'master' not in host %}
{{hostvars[host].ansible_host}}    {{host}}
{% endfor %}

127.0.0.1   loki
{% else %}
{{hostvars[master_server].ansible_host}}   loki
{% endif %}
